@font-face {
	font-family: "Avenir";
	src: url(../Assets/Fonts/Avenir.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Avenir";
	src: url(../Assets/Fonts/AvenirBold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Avenir";
	src: url(../Assets/Fonts/AvenirDemi.ttf) format("truetype");
	font-weight: 500;
}
