@import "../Partials/fonts";
$font: "Avenir", Roboto;

//Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1268px;

//Colors
$darkgray: #323232;
$mostlywhite: #fafafa;
$verylightgray: #e1e1e1;
$gray: #afafaf;
$brainflix-blue: #0095ff;
