@font-face {
	font-family: "Avenir";
	src: url(../assets/fonts/Avenir.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Avenir";
	src: url(../assets/fonts/AvenirBold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Avenir";
	src: url(../assets/fonts/AvenirDemi.ttf) format("truetype");
	font-weight: 500;
}
